---
import HeadBase from "@/features/HeadBase";
import Header from "@/features/Header";
import Article from "@/layouts/Article";
import Body from "@/features/Body";

import { getCollection, CollectionEntry } from "astro:content";
export const getStaticPaths = async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<html lang="ja">
  <head>
    <HeadBase />
    <title>sccp-blog | {post.data.title}</title>
  </head>
  <Body>
    <Header />
    <Article>
      <h1>{post.data.title}</h1>
      <time datetime={post.data.date.toISOString()}>
        {new Intl.DateTimeFormat("ja-JP").format(post.data.date)}
      </time>
      <div class="w-full py-5 px-5 rounded-xl border-solid border-2">
        <Content />
      </div>
      tags: [{post.data.tags.join(",")}]
    </Article>
  </Body>
</html>
