---
import ArticleCard from "@/features/ArticleCard";
import Home from "@/layouts/Home";
import HeadBase from "@/features/HeadBase";
import Body from "@/features/Body";
---

<html lang="ja">
  <head>
    <HeadBase />
    <title>sccp-blog | about</title>
  </head>
  <Body>
    <Home>
      <div></div>
    </Home>
  </Body>

</html>
