---
import ArticleCard from "@/features/ArticleCard";
import Home from "@/layouts/Home";
import HeadBase from "@/features/HeadBase";
import Body from "@/features/Body";

import { getCollection, getEntry } from "astro:content";
const posts = await getCollection("blog");
---

<html lang="ja">
  <head>
    <HeadBase />
    <title>Astro</title>
  </head>
  <Body>
    <Home>
      {
        posts.sort((postA, postB) => postB.data.date.getTime() - postA.data.date.getTime()).map((post) => {
          return (
            <ArticleCard
              url={`/sccp-blog/blog/${post.slug}`}
              title={post.data.title}
              date={post.data.date}
            >
              {post.body}
            </ArticleCard>
          );
        })
      }
    </Home>
  </Body>
</html>
